# autotools
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
/autom4te.cache/

# docker
/docker/Dockerfile

# executable
/src/mping

# patterns
*.o
*~
.deps/